<h2>{% trans from 'AppBundle' %}profile_title{% endtrans %}</h2>

<div class="content">
    <ul>
        <li>
            <a href="{{ path('sonata_admin_dashboard') }}">{% trans from 'AppBundle' %}goto_dashboard{% endtrans %}</a>
        </li>
    </ul>
</div>
